:root {
  --max-width: 1280px;
  --padding: 2rem;
  --logo-height: 6em;
  --logo-padding: 1.5em;
  --drop-shadow-color: #646cffaa;
  --drop-shadow-react-color: #61dafbaa;
  --card-padding: 2em;
  --docs-color: #888;
}

#root {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--padding);
  text-align: center;
}

.logo {
  height: var(--logo-height);
  padding: var(--logo-padding);
  will-change: filter;
  transition: filter 300ms ease;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--drop-shadow-color));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--drop-shadow-react-color));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: var(--card-padding);
  background-color: var(--tg-theme-card-bg-color);
  border-radius: 10px;
  box-shadow: var(--tg-theme-card-shadow);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.read-the-docs {
  color: var(--docs-color);
  font-size: 0.875rem;
  transition: color 0.3s ease;
}
